@use "sass:math";

.spinner-wrapper {
  display: flex;
  flex: 1;
  position: relative;
  height: 100vh;
}

.svg-def {
  position: absolute;
  width: 0;
  height: 0;
}

.spinner-loader {
  stroke: #1f3ef9;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 182px;
  transform: translate(-50%, -50%);

  &__wrapper {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
  }
}

#jump,
#jumpReflection,
#circleR,
#circleL {
  fill: none;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

#jump,
#jumpReflection {
  filter: url('#strokeGlow');
  stroke-width: 10;
  stroke-dashoffset: -212px;
  stroke-dasharray: 0, 221.617px;
  animation: jumper 1.3s linear infinite;
}

#jumpReflection {
  transform-origin: 50% 50%;
  transform: scaleY(-1);
  opacity: 0.09;
}

#circleR,
#circleL {
  stroke-width: 1;
  opacity: 0;
  animation: circle 1.3s linear infinite;
}

#circleL {
  animation-delay: -50ms;
}

#circleR {
  animation-delay: 450ms;
}

@keyframes jumper {
  0% {
    stroke-dashoffset: 0;
    stroke-dasharray: 0, 221.617px;
  }
  20%,
  40% {
    stroke-dasharray: 55px, 221.617px;
  }
  60% {
    stroke-dashoffset: -221.617px;
    stroke-dasharray: 0, 221.617px;
  }
}

@keyframes circle {
  10% {
    opacity: 0;
    rx: math.div(21.7, 100) * 20;
    ry: math.div(5.5, 100) * 20;
  }
  35% {
    opacity: 1;
  }
  70% {
    opacity: 0;
    rx: 21.7 * 1.4;
    ry: 5.5 * 1.4;
  }
}
